[Unit]
Description=Take and copy monitoring data of the 2024 power system

[Service]
User=rno-g
Restart=always
ExecStart=python3 /home/rno-g/micromini-firmware/client/log_power.py
ExecReload=/bin/kill -USR1 $MAINPID
